
.body{
    font-family: Gill Sans, sans-serif;
    position:flex;
}
.page{
    display:none;
    width:100%;
    min-height: 100%;
    position:absolute;
    padding: 1rem, 2rem;

}
.navbar-brand{
    color: lightgrey;
}
.welcome{
    color: darkgray;
}
.welcome1{
    color:rgb(46, 68, 194);
}
.welcome2{
    color:darkgray;
}
.welcome3{
    color:rgb(224, 26, 198);
}
.welcome4{
    color:darkgray;
}
.navbar{
    background-color:rgb(92, 92, 92);
}
.nav-link{
    color:darkgray;
}
.navbar-toggler-icon{
    color: lightgray;
}
html, body{
    height: 100%;
}
.welcome-text{
    color:lightgrey;
}


.container-time{
    background-color: rgb(92, 92, 92);
    padding: 50px;
    width: 500px;
    border: 10px dashed lightgray;
    outline-offset: -3px darkgrey;
    text-align: center;
    opacity: 0.9;
    margin-top: 150px;
    display: block;
    margin-left: 200px;
    font-family: Gill Sans, sans-serif;


}
.containerform{
    background-color: rgb(92, 92, 92);
    padding: 50px;
    border-width: 10px;
    border: 5px dashed rgb(92, 92, 92);
    /* outline-offset: -3px darkgrey; */
    text-align: center;
    background-color: lightgray;
    opacity: 0.9;
    margin-top: 150px;
    margin-left: 200px;
    color:darkgrey;
    font-family: Gill Sans, sans-serif;
    position: relative;

}
.reservation{
    color: rgb(92, 92, 92);
    font-size: 50px;
    font-family: Gill Sans, sans-serif;
}
.heading{
    font-size: 50px;

}
.heading_days{
    color: lightgray;
    font-size: 30px;
    
}


.open{
    font-size: 25px;
}
.yourname{
    color:white;
}
.jumbotron{
    background-color: lightgray;
    opacity: 0.9;
}
.logo{
    width: 100px;
    height: 200px;
    z-index: 10;
}
.page-wrapper{
    min-height: 100%;
}
/* footer */

.footer .footer-bottom{
    background-color: rgb(92, 92, 92);
    color: lightgrey;
    height: 50px;
    text-align: center;
    position: fixed;
    bottom: 0px;
    left: 0px;
    padding-top: 10px;
    width: 100%;
}

.printout{
    color:white;
}



  /* Information page */
  #section1{
      background-color: rgb(139, 139, 139);
      opacity: 0.9;
      color:rgb(90, 40, 44);
  }
  #section2{
    background-color: rgba(187, 185, 199, 0.295);
    opacity: 0.9;
    color: rgb(0, 0, 0);
}
#section41{
    background-color: rgba(114, 92, 94, 0.562);
    opacity: 0.9;
    color: rgb(41, 10, 10);
}
#section42{
    background-color: rgba(72, 60, 75, 0.582);
    opacity: 0.9;
    color: rgb(46, 48, 32);
}
/* report */
.doyouhavecovid{
    background-color: rgb(92, 92, 92);
    padding: 50px;
    border-width: 10px;
    border: 5px dashed rgb(92, 92, 92);
    /* outline-offset: -3px darkgrey; */
    text-align: center;
    background-color: lightgray;
    opacity: 0.9;
    margin-top: 150px;

    color:rgb(68, 67, 67);
    font-family: Gill Sans, sans-serif;
    position: relative;
}
/* yes */
.yesform{
    background-color: rgb(92, 92, 92);
    padding: 50px;
    border-width: 10px;
    border: 5px dashed rgb(92, 92, 92);
    /* outline-offset: -3px darkgrey; */
    text-align: center;
    background-color: lightgray;
    opacity: 0.9;
    /* margin-top: 200px;
    margin-left: 500px; */
    color:rgb(82, 82, 82);
    font-family: Gill Sans, sans-serif;
    position: relative;


}
/* staff login page */
/* #login{ */
    /* background-color: rgb(92, 92, 92); */
    /* padding: 10px; */
    /* border-width: 4px;
    border: 5px dashed rgb(92, 92, 92); 
    margin: auto;
    width: 50%;
    border: 3px solid lightgray
    ; */
    /* padding: 10px; */
    /* padding: 70px 0; */
    /* position: fixed; or absolute */
    /* top: 50%; */
    /* left: 45%; */
  
    /* outline-offset: -3px darkgrey; */
    /* text-align: center;
    background-color: lightgray;
    opacity: 0.9;
    margin-top: 150px;
    margin-left: 200px;
    color:darkgrey;
    font-family: Gill Sans, sans-serif;
    position: relative; */
/* } */
.logintext{
    position: fixed; /* or absolute */
    top: 30%;
    left: 44%;
    color: lightgrey;
    background-color:rgb(94, 92, 92);
    padding: 10px;
    opacity: 0.9;
    border-radius: 25px;
}
 #login{
    background-color: darkgrey;
    position: fixed; /* or absolute */
    top: 35%;
    left: 40%;
    padding: 40px; 
    /* width: 200px; */
    height: 100x;
    border-radius: 40px; 
    width: 400px;
    opacity: 0.9;

} 
/* .login1{
    background-color: darkgrey;
    position: fixed; /* or absolute */
    /* top: 50%;
    left: 40%;
    padding: 20px;
    width: 200px;
    height: 150px;
    border-radius: 25px;
    width: 400px;
    opacity: 0.9;
} */ 
/* #login{
    background-color: darkgrey;
    position: fixed; or absolute */
    /* top: 45%;
    left: 41%;
    padding: 40px;
    width: 200px;
    height: 150px;
    border-radius: 25px;
    width: 400px;
    opacity: 0.9; */
}

/* style="background: url(img/pub.jpeg) no-repeat center center fixed; -webkit-background-size: cover; -moz-background-size: cover; -o-background-size: cover; background-size: cover;" */